pkgbase = extra-cmake-modules
	pkgdesc = Extra modules and scripts for CMake
	pkgver = 5.246.1
	pkgrel = 1
	url = https://community.kde.org/Frameworks
	arch = any
	groups = kf6
	license = LGPL
	makedepends = python-requests
	makedepends = python-sphinx
	depends = cmake
	optdepends = python-pyxdg: to generate fastlane metadata for Android apps
	optdepends = python-requests: to generate fastlane metadata for Android apps
	optdepends = python-yaml: to generate fastlane metadata for Android apps
	source = https://download.kde.org/unstable/frameworks/5.246.0/extra-cmake-modules-5.246.1.tar.xz
	source = https://download.kde.org/unstable/frameworks/5.246.0/extra-cmake-modules-5.246.1.tar.xz.sig
	validpgpkeys = 53E6B47B45CEA3E0D5B7457758D0EE648A48B3BB
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	sha256sums = 917b4a9d0c431984acdca94422dc8ffc0d56bd9ebee591da82633fc38d9fea54
	sha256sums = SKIP

pkgname = extra-cmake-modules
